<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        {{ title }}
    </title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    {{ title }}
                </h1>
            </div>
        </div>

        {{ include('flash/_flash.html.twig') }}

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        What?
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            We provide a list of hostnames and regular expressions for websites which may not like to get links as described in Article 11 of the European Copyright Directive.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Query the list
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Call <code>/api/list</code> to retrieve a list of black and whitelisted hostnames and urls.
                        </p>

                        <a href="{{ path('api_list') }}" class="btn btn-primary">
                            Try it
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Fork me at GitHub
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Find the repository of art11 backend and frontend at <a href="https://github.com/calderacc/art11">calderacc/art11</a>.
                        </p>

                        <a href="https://github.com/calderacc/art11" class="btn btn-primary">
                            Fork me
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Contribute to list
                    </div>
                    <div class="card-body">
                        {{ form(applicationForm) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#impress-modal">
                    Impressum
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="impress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Impressum
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Angaben nach § 5 TMG:
                    </p>

                    {% include '@MalteHuebnerImpress/impress/standard_german.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Schließen
                    </button>
                </div>
            </div>
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>